extends ../layouts/default

block content
	// Header
		header(id="header")
		  #intro
		    .container
		      .row
		        .intro-text
		          h1 Spectrum
		          p Web Design • Photography • Product Design
		          a(href="#about" class="btn btn-custom btn-lg page-scroll")Learn More

		// About Section